{% extends "base.html" %}

{% block title %}cdn • home{% endblock title %}
{% block description %}cdn home page{% endblock description %}

{% block content %}

<div class="container">
    <div class="container mt-3 text-center">

        {% if account %}
            <div class="card shadow m-1">
                <div class="card-body">
                    <p class="card-text">Logged in as {{ account.username }}, your id is {{ account.id }}.</p>
                    <form>
                        <button class="btn btn-light" type="submit" formaction="/logout">Logout</button>
                    </form>
                </div>
            </div>
        {% endif %}

    </div>
</div>

{% endblock content %}
